<header>
  <div class="baseHeader">
  <div class="container upHeader">
    <div class="row div_red">
      <div class=" div_orange col-md-4" >
      <a href="#" routerLink="/" class="logo">LT</a>
    </div>
    <div class="div_yellow col-md-4 ml-auto float-right" >
      <p>UserName</p>
      <button>Profil</button>
      <button>Deconnéxion</button>
    </div>
    </div>
  </div>
</div>
</header>



<!--
  <nav>
        <ul>
          <li class="buttonChangePsw">Gérer</li>
          <li class="buttonLogOut">Déconnexion</li>
        </ul>
      </nav>-->
