/* para centrar o div container dentro do header tem de se fazer display+justify+align */
.baseHeader{
  background-color: #6EAF59;
  border: 0.05em solid #707070;
  height: 10em;
}

.upHeader{
  background-color:#A2BD99;
  border: 3px solid #6EAF59;
  height:10em;
  margin-top:5em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;

}

.div_red{

  margin-top: 2.5em;
}

.div_orange{

}

.div_yellow{

}

.info-btn{
  float:right;
  background-color:#6EAF59 ;
  color: #FFFFFF;
}

.userN{
  color: #FFFFFF;
  margin-left: 5em;
}
