/* para centrar o div container dentro do header tem de se fazer display+justify+align */
.baseHeader{
  background-color: #6EAF59;
  border: 0.05em solid #707070;
  height: 10em;
}

.upHeader{
  background-color:#A2BD99;
  border: 3px solid #6EAF59;
  height:10em;
  margin-top:5em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;

}

.div_red{
  margin-top: 4em;
}



.info-btn{
  float:right;
  background-color:#6EAF59 ;
  color: #FFFFFF;
  width:10em;
  height:2em;
  text-align:center;
  font-size:1.1em;
  border-radius:0.5em;
}

.userN{
  color: #FFFFFF;
  margin-left: 19em;

}
