<footer class="w-100">
  <div class="container">
    <div class="d-flex col-12">

      <div class="self-align" >
        <img class="logo mt-2 " src="assets/logo.png" />
      </div>

        <div class="container div_superior ">

            <div class="d-flex flex-column flex-md-row mt-3 justify-content-md-center">
              <div class="mr-md-3">Luis Teixeira </div>
              <div class="sep">|</div>
              <div class="mx-md-3"> 11 Rue d'Autan</div>
              <div class="sep">|</div>
              <div class="ml-md-3"> 11300 Limoux</div>
          </div>
            <hr class="ligne" />
            <div class="d-flex flex-column flex-md-row mt-md-3 mt-0 justify-content-md-center">
              <div id="tel_mail" class="mr-md-3">Tél: +33 627175523 </div>
              <div class="sep">|</div>
              <div class="ml-md-3"> @:i.teixeiraluis@gmail.com</div>
            </div>
          </div>
        </div>
    </div>

</footer>
