<footer class="w-100">
  <div class="container">
    <div class="d-flex col-12">

      <div class="ali" >
        <img class="logo mt-2 " src="assets/logo.png" />
      </div>


        <div class="container div_superior">
          <div>
            <div>Luis Teixeira</div>
            <div>11 Rue d'Autan</div>
            <div>11300 Limoux</div>
            <hr class="ligne" />
            <div id="tel_mail">Tél: +33 627175523  @: i.teixeiraluis@gmail.com</div>
          </div>
        </div>
    </div>
  </div>
</footer>
