<p>employee-by-id works!</p>
<h1>EmployID</h1>

<h1>Empregados ById</h1>
<ul>
  <li *ngFor="let info of employeeByid">
    <span> {{info.firstName}}</span>
    <span> {{info.lastName}}</span>
    <span> {{info.mobilePhone}}</span>
    <span> {{info.firstName}}</span>
    <span> {{info.lastName}}</span>
    <span> {{info.mobilePhone}}</span>
    <span> {{info.homePhone}}</span>
    <span> {{info.email}}</span>
    <span> {{info.address}}</span>
    <span> {{info.zipCode}}</span>
    <span> {{info.nationality}}</span>
    <span> {{info.identityNumber}}</span>
    <span> {{info.socialNumber}}</span>
    <span> {{info.birthdayDate}}</span>
    <span> {{info.age}}</span>
    <span> {{info.iban}}</span>
    <span> {{info.typeContract}}</span>
    <span> {{info.joinDate}}</span>
    <span> {{info.hourlyPrice}}</span>
  </li>

</ul>
