h1{
  color:#6EAF59;
}

button{
  height: 3em;
  margin-bottom: 0.5em;
}

a{
  color:  #6EAF59;
}

.nav-link.active{
  color: #3f6832;
  background-color:#A2BD99;
  border-color: #6EAF59;
}

.nav-tabs .nav-link{
  border: 1px solid #6EAF59;
}

.nav-tabs{
  border-bottom: 2px solid #6EAF59;
  margin-bottom: 2.5em;
}

.categories{
  width:10em;
  text-align:center;
}


p{
  margin-bottom: 1em;
}

/*buttons*/
@media (max-width: 768px) {
  .buttonMenu{
    margin-right: 0.2em;
  }

}

