<div *ngIf="selectedEmployee" class="container ">
  <h1 class="d-none d-md-block">{{ selectedEmployee.firstName}} {{ selectedEmployee.lastName}} </h1>
  <div class="d-flex flex-column flex-md-row">
  <div class="d-flex flex-row flex-md-column col-12 col-md-2 ">

    <button class="buttonMenu" [routerLink]="['/employees']">Retour</button>
    <button class="buttonMenu" (click)="toUpdate()">Editer</button>
    <button (click)="toDelete()">Supprimer</button>
  </div>

  <div class="col-12 col-md-10">
    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="active"
      [destroyOnHide]="false"
      class="nav-tabs col-6 col-md-10"
    >
      <li [ngbNavItem]="1" [destroyOnHide]="true">
        <a class="categories" ngbNavLink>Coordonées</a>
        <ng-template ngbNavContent>
          <!--
          <ngb-alert [dismissible]="false" class="d-block mt-3" type="danger">
            Justificatif de domicile ou Attestation d'hebergement (moins de 3
            mois)
          </ngb-alert>-->

          <p>Prénom: {{ selectedEmployee.firstName }}</p>
          <p>Nom: {{ selectedEmployee.lastName }}</p>
          <p>Portable: {{ selectedEmployee.mobilePhone }}</p>
          <p>Email: {{ selectedEmployee.email }}</p>
          <p>Domicile: {{ selectedEmployee.homePhone }}</p>

          <p>Adresse:{{ selectedEmployee.address }}</p>
          <p>Complément d'adresse: {{ selectedEmployee.addressComplement }}</p>
          <p>Code Postale: {{ selectedEmployee.zipCode }}</p>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a class="categories" ngbNavLink>Identité</a>
        <ng-template ngbNavContent>
          <p>Pièce d'Identité n°: {{ selectedEmployee.identityNumber }}</p>
          <p>Nacionalité: {{ selectedEmployee.nationality }}</p>
          <p>Numéro Sécurité Sociale: {{ selectedEmployee.socialNumber }}</p>
          <p>Date de Naissance: {{ selectedEmployee.birthdayDate}}</p>


        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a class="categories" ngbNavLink>Contrat</a>
        <ng-template ngbNavContent let-active>


          <p>Type de Contrat:{{ selectedEmployee.typeContract }}</p>
          <p>Depuis: {{ selectedEmployee.joinDate }}</p>
          <p>Prix de l'heure: {{ selectedEmployee.hourlyPrice }}</p>
        </ng-template>
      </li>

      <li [ngbNavItem]="4">
        <a class="categories" ngbNavLink>Compta</a>
        <ng-template ngbNavContent let-active>
          <p>IBAN:{{ selectedEmployee.homePhone }}</p>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <!--

<button (click)="openModal()"> supprimer/open modal </button>
<button (click)="actionFunction()"> supprimer/open modal </button>


<main id="logout-button-holder">
  <button mat-raised-button id="logout-button" (click)="openModal()">Logout</button>
</main>


<div id="modal-content-wrapper">
  <header id="modal-header">
      <h1 id="modal-title">Are you sure you want to logout?</h1>
  </header>
  <section id="modal-body">
      <p>If you logout bad things might happen, but don't mind me, I'm just the description in a modal...</p>
  </section>
  <footer id="modal-footer">
      <button mat-raised-button id="modal-action-button" (click)="actionFunction()">Logout</button>
      <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
  </footer>
</div> -->
  </div>

</div>

</div>
