<div class="container">
  <div class="row">
    <div class="d-flex flex-row flex-md-column col-12 col-md-2">
      <button class="button retour firstButton mb-2" [routerLink]="['/']">
        Retour <br />
        au <br />
        Menu
      </button>

      <button
        class="button retour firstButton mb-2"
        [routerLink]="['/timeSheet']"
      >
        Créer <br />
        nouvel <br />
        Pointage
      </button>
    </div>

    <div class="col-12 col-md-10">
      <ul>
        <li class="eachAbs" *ngFor="let ts of timesheets">
          <!--.split('T')[0]  -->
          <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="d-flex flex-column justify-content-around">
              <div class="nomAndDate">
                {{ ts.firstName }} {{ ts.lastName | uppercase }}
              </div>
              <div>
                <span class="nomAndDate"> Du </span>
                {{ ts.beginningDate.split("T")[0] }}
                <span class="nomAndDate"> au </span>
                {{ ts.finishDate.split("T")[0] }}
              </div>
              <div>
                <span class="nomAndDate">
                  Nombre d'heures effectuées: {{ ts.totalHours }}
                </span>
              </div>
              <div>
                Prix de l'heure:
                <span class="nomAndDate"> {{ ts.priceHour }}</span>
              </div>
              <div>
                Activité: <span class="nomAndDate"> {{ ts.name }} </span>
              </div>
              <div>Heures efectuées: {{ ts.totalHours }}</div>
            </div>

            <div class="d-flex flex-column justify-content-center">
              <div class="threeButtons d-flex flex-row justify-content-around">
                <button class="btnAction" (click)="updateTS(ts)">
                  <i class="far fa-edit fa-2x"></i>
                </button>

                <button class="btnAction" (click)="deleteTS(ts.Id_timeSheet)">
                  <i class="far fa-trash-alt fa-2x"></i>
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
