
<div class=" container">
  <h1 class="title ">Activités</h1>
  <div class="row ">
    <div class="d-flex flex-row flex-md-column col-12 col-md-2">
      <button class="button retour firstButton mb-2" [routerLink]="['/']">
        Retour <br />
        au <br />
        Menu
      </button>

      <button class="button retour firstButton mb-2" [routerLink]="['/createactivity']">
        Ajouter <br />
        une <br />
        Activité
      </button>
    </div>

    <div class="col-12 col-md-10">

          <!-- 1. Search  by name and mobile employee-->
          <div class="searchContainer col-12 d-flex flex-md-row mb-1 pl-md-0 ml-md-0">
            <i class=" icone col-1 fas fa-search fa-2x fa-flip-horizontal"></i>
            <input class="searchInput col-12 col-md-11 searchBar " type="text" [(ngModel)]="searchText" placeholder="Rechercher par NOM ou par PORTABLE">
          </div>

      <ul>
        <li class="eachAbs" *ngFor="let act of activities | filterActivities: searchText">

            <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="d-flex flex-column justify-content-around">
                <div class="nomAndDate"> {{ act.name |uppercase }} </div>
                <div> Date de Début: <span class="nomAndDate "> {{act.startDate.split('T')[0] }} </span></div>
                <div> Date de Fin: <span class="nomAndDate "> {{act.endDate.split('T')[0] }} </span></div>
              </div>

              <div class="d-flex flex-md-column justify-content-around " >
                  <button class="btnAction" (click)="updateAct(act)"><i class="far fa-edit fa-2x"></i></button>
                  <button class="btnAction" (click)="deleteAct(act.Id_activity)"><i class="far fa-trash-alt fa-2x"></i></button>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>
