.title{
  color:#6EAF59;
  font-weight: bold;
}

.dates{
  color:#FFFFFF;
  font-weight: bold;
  font-size: large;
}
.nomAndDate{
  color:#6EAF59;
  font-weight: bold;
  font-size: large;
}



.btnAction{
  width: 3.2em;
  height: 3.2em;
  padding: 0.5em;
  align-self: center;
  margin: 0.1em;
}

.eachAbs{
  border: 3.5px solid #6EAF59;
  border-radius:0.5em;

}



ul{
  list-style-type: none;
  padding:0 !important;
}

/*buttons*/
@media (max-width: 768px) {

  span{
    margin-bottom: 1em;
  }

  .firstButton{
    margin-right: 0;
  }

}


