
<div class="container">
  <h1 class="title ">Résumé Pointage</h1>
  <div class="row">
    <div class="d-flex flex-row flex-md-column col-12 col-md-2">

      <button class="button retour firstButton mb-2" [routerLink]="['/']">
        Retour <br />
        au <br />
        Menu
      </button>
    </div>

    <div class="col-12 col-md-10">
      <ul>
        <li class="eachAbs" *ngFor="let ts of myTimesheets">
          <!--.split('T')[0]  -->
          <div class="d-flex flex-column flex-md-row justify-content-between">
            <div >
              <div > Du  <span class="nomAndDate">{{ ts.beginningDate.split("T")[0] }}   </span> au <span class="nomAndDate">  {{ ts.finishDate.split("T")[0] }} </span></div>
              <div> Activité: <span class="nomAndDate"> {{ ts.name | titlecase }} </span> </div>
            </div>


            <div class="4">
              <div>Nombre d'heures effectuées: <span class="nomAndDate"> {{ ts.totalHours }} </span></div>
              <div>Prix de l'heure: <span class="nomAndDate">  {{ ts.priceHour }} </span> €</div>
              <div>Total: <span class="nomAndDate">  {{ ts.priceHour * ts.totalHours}} </span> €</div>
            </div>


          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
