


<section class=" mb-5 mt-3 container evenements">
  <div class="row gallerie_bouttons">
     <div class="text-center col-xs-12 col-sm-4 each_section">
      <a href="#" routerLink="/employees">
        <button type="button" class="btn ">Salariés</button>
      </a>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 each_section">
        <div>
           <a routerLink="/timeSheet">
            <button type="button" class="btn ">Pointage</button>
           </a>
        </div>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 each_section">
        <a routerLink="/absences">
          <button type="button" class="btn ">Absences</button>
        </a>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 each_section">
        <a routerLink="/depenses">
          <button type="button" class="btn ">Dépenses</button>
        </a>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 each_section">
      <a routerLink="/rgpd">
      <button type="button" class="btn ">RGPD</button>
      </a>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 each_section">
      <a  routerLink="/------------">
      <button type="button" class="btn "></button>
      </a>
     </div>

   </div>
</section>


