


<section class=" mb-5 mt-3 container evenements">
  <div class="row gallerie_bouttons">
     <div class="text-center col-xs-12 col-sm-4 button_img">
        <button type="button" class="btn btn-primary">Salariés</button>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 button_img">
        <div>
           <a href="#" routerLink="/----------">
            <button type="button" class="btn btn-primary">Pointage</button>
           </a>
        </div>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 button_img">
        <a href="#" routerLink="/----------------">
          <button type="button" class="btn btn-primary">Congés</button>
        </a>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 button_img">
        <a href="#" routerLink="/----------">
          <button type="button" class="btn btn-primary">Dépenses</button>
        </a>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 button_img">
      <button type="button" class="btn btn-primary">RGPD</button>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 button_img">
      <button type="button" class="btn btn-primary"></button>
     </div>






   </div>
</section>


