


<section class=" mb-5 mt-3 container evenements">
  <div class="row gallerie_bouttons">
     <div class="text-center col-xs-12 col-sm-4 button_img">
      <a href="#" routerLink="/employees">
        <button type="button" class="btn btn-primary">Salariés</button>
      </a>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 button_img">
        <div>
           <a  routerLink="/timeSheet">
            <button type="button" class="btn btn-primary">Pointage</button>
           </a>
        </div>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 button_img">
        <a routerLink="/absences">
          <button type="button" class="btn btn-primary">Absences</button>
        </a>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 button_img">
        <a routerLink="/depenses">
          <button type="button" class="btn btn-primary">Dépenses</button>
        </a>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 button_img">
      <a routerLink="/rgpd">
      <button type="button" class="btn btn-primary">RGPD</button>
      </a>
     </div>

     <div class=" text-center col-xs-12 col-sm-4 button_img">
      <a  routerLink="/------------">
      <button type="button" class="btn btn-primary"></button>
      </a>
     </div>

   </div>
</section>


