<p>change-profil works!</p>
<div class="container">
  <div class="d-flex flex-column flex-md-row">
    <div class="d-flex flex-row flex-md-column col-12 col-md-2">
      <button [routerLink]="['/employeeAccount']" class="firstButton">
        Retour <br />
        au <br />
        Menu
      </button>

    </div>

    <div class="box col-12 col-md-10">
      <form
        #profilForm="ngForm"
        (ngSubmit)="submitOnClick(profilForm.form)">

        <div class="title d-flex justify-content-center mb-5">
          <hr class="w-25 mt-2 mr-2" />
          Changez votre Profil
          <hr class="w-25 mt-2 ml-2" />
        </div>

          <div class="form-items col-12 col-md-6">
            <label for="endDate">Votre nouveau mot de passe</label>

            <input
            required
              [(ngModel)]="absence.endDate"
              name="endDate"
              #endDate="ngModel"
              id="endDate"
              type="text"
              class="form-control"
              [disabled]="isSubmiting"
              [ngClass]="{ invalid: endDate.invalid }"

            />
          </div>



          <div class="dateDmd form-items col-12 col-md-6 ">
            <label for="requestDate">Date de Demande</label>
            <div class="bg-light form-control">{{absence.requestDate.split('T')[0]}}</div>
          </div>

          <!--Button-->
        <div class="d-flex justify-content-md-end">
          <input
            class="submit col-12 col-md-4 form-control"
            type="submit"
            value="Envoyer"
            [disabled]="isSubmiting"
          />
        </div>
      </form>
    </div>
  </div>
</div>
