.form-control.ng-touched.ng-invalid{
  border: 2px solid red;
}
.invalid{
  border: 2px solid red;
}
.box{
  border: 2px solid green;
}

.title{
  font-size:2em;
  color:#6EAF59;
  margin:1em;

}

.form-items{
  margin-top:1em;

}
