<div class=" container">
  <h1 class="title ">Salariés</h1>
  <div class="row ">
    <div class="d-flex flex-row flex-md-column col-12 col-md-2 ">
      <button class="button firstButton"  [routerLink]="['/']">
        Retour <br/>
        au <br/>
        Menu
      </button>
      <button
        class="button"
        [routerLink]="['/createEmployee']"
        (click)="addButtonClick()">
        Ajouter <br/>
        un <br/>
        Salarie
      </button>
    </div>

    <div class=" col-12 col-md-10">

        <!-- 1. Search  by name and phone-->

        <!-- 1. Search  by name and mobile employee-->
        <div class="searchContainer col-12 d-flex flex-md-row mb-1 pl-0 ml-0">
          <i class=" icone col-1 fas fa-search fa-2x fa-flip-horizontal"></i>
          <input class="searchInput col-12 col-md-11 searchBar " type="text" [(ngModel)]="searchText" placeholder="Rechercher par NOM ou par PORTABLE">
        </div>


        <!-- 2. employees list-->
      <ul>
        <li
          class="eachEmployee d-flex justify-content-around flex-column flex-md-row"
          *ngFor="let empl of employees | filter: searchText"
          [routerLink]="['/employees', empl.Id_employee]"
        >
          <span> Prénom: {{ empl.firstName | titlecase }} </span>
          <span> Nom: {{ empl.lastName | uppercase }} </span>
          <span> Portable: {{ empl.mobilePhone }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
