
.active-pink input[type=search] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
  }

  .active-purple-2 input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
  }

  .active-purple input[type=search] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
  }

/*____________________________________*/
.title{
  color:#6EAF59;
  font-weight: bold;
}

.button{
  margin-bottom: 0.5em;
}

.eachEmployee{
  border: 3.5px solid #6EAF59;
  border-radius:0.5em;
  padding: 2em;
  margin-left:0;
  margin-right: 0;
  margin-bottom: 0.5em;
}

ul{
  list-style-type: none;
  padding:0 !important;
}

/*buttons*/
@media (max-width: 768px) {
  .firstButton{
    margin-top: 0;

    margin-right: 1em;
  }

}


