/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  background:#ebfae6; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button{
  background-color:#6EAF59 ;
  color: #FFFFFF;
  text-align: center;
  width:100%;
  text-align:center;
  font-size:1.1em;
  border-radius:0.5em;
}

button:hover{
    background-color:  #ebfae6;
    color: #6EAF59;
    border-color: #6EAF59;
    box-shadow: 0 6px 8px 0 #631f5a7c;
    transition: 0.5s;

}
