/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  background:#ebfae6; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-body,
.mat-body-1,
.mat-typography {
  font: 400 16px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

button{
  background-color:#6EAF59 ;
  color: #FFFFFF;
  text-align: center;
  width:100%;
  text-align:center;
  font-size:1.1em;
  border-radius:0.5em;
}

button:hover{
    background-color:  #ebfae6;
    color: #6EAF59;
    border-color: #6EAF59;
    box-shadow: 0 6px 8px 0 #631f5a7c;
    transition: 0.5s;
}

.box{
  border: 3.5px solid #6EAF59;
  border-radius:0.5em;
  padding: 2em;
  margin-left:0;
  margin-right: 0;
  margin-bottom: 0.5em;
  background-color:#fff;
}

hr{
  border:1px solid #6EAF59;
  border-radius: 0.5em;
  opacity: 1;
}

.form-control{
  border:1px solid #6EAF59 ;
  border-radius: 0.5em ;
}


/*//search bars*/
.searchContainer{
  background-color: #A2BD99;
  border: 3.5px solid #6EAF59;
  border-radius: 0.5em;
  padding: 1em;
  align-items: center;

}

.searchInput{
  border: 3.5px solid #6EAF59;
  border-radius:0.5em;
  padding: 0.5em;
  margin:0;
  color:#6EAF59;
}


.searchInput:focus{
  outline:none;
  color:#6EAF59;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #6EAF59;
}

.icone{
  color:white;


}

/*Change header to small devices */
@media (max-width: 768px) {
  .icone{
    display:none;
  }

  .firstButton{
    margin-top: 0;
    margin-right: 1em;
  }

}
