
<div class=" container">
  <h1 class="title ">Matériel</h1>
  <div class="row ">
    <div class="d-flex flex-row flex-md-column col-12 col-md-2">
      <button class="button retour firstButton mb-2" [routerLink]="['/']">
        Retour <br />
        au <br />
        Menu
      </button>

      <button class="button retour firstButton mb-2" [routerLink]="['/creatematerial']">
        Ajouter <br />
       nouveau <br />
        Matériel
      </button>
    </div>

    <div class="col-12 col-md-10">
      <ul>
        <li class="eachAbs" *ngFor="let mat of materials">

            <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="d-flex flex-column ">
                <div class="nomAndDate"> {{ mat.name |uppercase}} </div>
                <div> Date d'Achat': <span class="nomAndDate ">{{mat.purchaseDate.split('T')[0] }} </span></div>
                <div> Fournisseur:<span class="nomAndDate ">{{mat.supplier}} </span></div>
              </div>

              <div class="d-flex flex-column">
                <div> Quantité: <span class="nomAndDate ">{{mat.quantity}} </span></div>
                <div> Prix unitaire:<span class="nomAndDate ">{{mat.unitaryPrice}} €</span></div>

              </div>

     <div class="d-flex flex-md-column justify-content-center" >
                  <button class="btnAction" (click)="updateMat(mat)"><i class="far fa-edit fa-2x"></i></button>
                  <button class="btnAction" (click)="deleteMat(mat.Id_material)"><i class="far fa-trash-alt fa-2x"></i></button>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>
