<div class=" container">
  <div class="row ">
    <div class="d-flex flex-row flex-md-column col-12 col-md-2 ">
      <button class="button firstButton"  [routerLink]="['/employeeAccount']">
        Retour <br/>
        au <br/>
        Menu
      </button>
      <button
        class="button"
        [routerLink]="['/formAbsence']"
        >
        Demander <br/>
        une  <br/>
        Absence
      </button>
    </div>

    <div class=" col-12 col-md-10">
      <ul>
        <li
          class="eachAbsence d-flex justify-content-around flex-column flex-md-row"
          *ngFor="let abs of myAbsences"
        >
        <div class="col-12 col-md-10 d-flex flex-column">
          <span class="typeAndStatus mb-1"> Absence: {{ abs.typeOfAbsence }}</span>
          <span class="mb-1"> Du {{ abs.startDate.split('T')[0] }} au {{ abs.endDate.split('T')[0] }} </span>
          <span class="mb-1"> Demandé le {{ abs.requestDate.split('T')[0] }}</span>
          <span class="typeAndStatus"> Status: {{ abs.status }}</span>
        </div>

        <div class="col-12 col-md-2 align-self-center">
          <button class="pt-2 pb-2" (click)="updateAbsence()">Changer</button>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>
