<div class=" container">
  <div class="row ">
    <div class="d-flex flex-row flex-md-column col-12 col-md-2 ">
      <button class="button firstButton"  [routerLink]="['/employeeAccount']">
        Retour <br/>
        au <br/>
        Menu
      </button>
      <button
        class="button"
        [routerLink]="['/formAbsence']"
        >
        Demander <br/>
        une  <br/>
        Absence
      </button>
    </div>

    <div class=" col-12 col-md-10">
      <div class="searchContainer pl-md-0 col-12 d-flex flex-column flex-md-row mb-1">
        <i class="icone col-1 fas fa-search fa-2x fa-flip-horizontal"></i>
        <!-- 1. Search form by employee name-->
        <div class="md-form col-12 col-md-5 p-md-0">
          <label for="status">Rechercher par Date</label>
          <input class="searchInput col-12 searchBar eachEmployee" type="text" [(ngModel)]="search"
            placeholder="Rechercher par date" />
        </div>

        <!-- 2. Search form by type abs-->
        <div class="col-12 col-md-3 pt-3 pt-md-0">
          <label for="typeOfAbsence">Type d'Absence</label>
          <select class="col-12 searchInput" name="typeOfAbsence" [(ngModel)]="typeAbs">
            <option value="" selected>Toutes</option>
            <option value="Congés">Congés</option>
            <option value="Exceptionnelle">Exceptionnelle</option>
          </select>
        </div>

        <!-- 3. Search form by status-->
        <div class="col-12 col-md-3 pt-3 pt-md-0 p-md-0">
          <label for="status" >Status</label>
          <select class="col-12 searchInput" name="status" id="status" [(ngModel)]="status">
            <option value="" selected >Toutes</option>
            <option value="accepted">Acceptée</option>
            <option value="refused" >Réfusée</option>
            <option value="en attente" >En Attente</option>
          </select>
        </div>
      </div>

      <!--List of my absences -->
      <ul>
        <li
          class="eachAbsence d-flex justify-content-around flex-column flex-md-row"
          *ngFor="let abs of myAbsences | filterMyAbsences: search:status:typeAbs"
        >
        <div class="col-12 col-md-10 d-flex flex-column">
          <span class="typeAndStatus mb-1 "> Absence: {{ abs.typeOfAbsence | titlecase}}</span>
          <span class=" my-2"> Du <span class="typeAndStatus" > {{ abs.startDate.split('T')[0] }}</span> au <span class="typeAndStatus" >{{ abs.endDate.split('T')[0] }}  </span>inclus</span>
          <span class="mb-1"> Demandé le {{ abs.requestDate.split('T')[0] }}</span>
          <span class="typeAndStatus my-2" *ngIf="!isDecided(abs)"> Status: En attente de décision </span>
          <span class="typeAndStatus mt-2 mb-1" *ngIf="isDecided(abs)">
            Status:
            <span *ngIf="abs.status=='accepted'">Acceptée</span>
            <span *ngIf="abs.status=='refused'">Refusée</span>

          </span>
          <span class="mb-2" *ngIf="isDecided(abs)"> Décision transmise le: {{ abs.statusDate.split('T')[0]}}</span>
        </div>

        <div class="col-12 col-md-2 d-flex justify-content-around align-self-center">
          <button class="btnAction" (click)="updateAbsence(abs)"  *ngIf="!isDecided(abs)"><i class="far fa-edit fa-2x"></i></button>
          <button class="btnAction" (click)="deleteAbsence(abs.Id_absence)" *ngIf="!isDecided(abs)" ><i class="far fa-trash-alt fa-2x"></i></button>

          <span class="nomAndDate mr-5 d-flex flex-column justify-content-center " *ngIf="isDecided(abs)">
            <span> Status </span>
            <i class="far fa-check-square fa-2x align-self-center" *ngIf="abs.status == 'accepted'"></i>
            <i class="far fa-times-circle fa-2x align-self-center" *ngIf="abs.status == 'refused'"></i>
          </span>



        </div>
        </li>
      </ul>
    </div>

</div>
