.button{
  margin-bottom: 0.5em;
}

.eachAbsence{
  border: 3.5px solid #6EAF59;
  border-radius:0.5em;
  padding: 2em;
  margin-left:0;
  margin-right: 0;
  margin-bottom: 0.5em;
}

ul{
  list-style-type: none;
  padding:0 !important;
}

/*buttons*/
@media (max-width: 768px) {
  .firstButton{
    margin-top: 0;

    margin-right: 1em;
  }

}


